In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [5]:
# Import the API key.
from config_copy import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2020-10-31 00:32:46,14.90,-24.50,81.32,59,100,15.28
1,1,Mataura,NZ,2020-10-31 00:32:46,-46.19,168.86,54.00,98,100,13.00
2,2,Pangnirtung,CA,2020-10-31 00:32:46,66.15,-65.71,8.55,79,78,3.40
3,3,Puerto Ayora,EC,2020-10-31 00:28:40,-0.74,-90.35,70.00,92,65,3.00
4,4,Severnoye,RU,2020-10-31 00:32:46,56.35,78.36,33.31,97,100,7.72

In [7]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2020-10-31 00:32:46,14.90,-24.50,81.32,59,100,15.28
5,5,Atar,MR,2020-10-31 00:32:09,20.52,-13.05,82.89,16,10,7.99
6,6,Kanigoro,ID,2020-10-31 00:32:47,-8.13,112.22,81.28,72,89,5.93
7,7,Oranjestad,AW,2020-10-31 00:30:50,12.52,-70.03,82.40,83,40,9.17
11,11,Alenquer,BR,2020-10-31 00:32:48,-1.94,-54.74,78.80,88,20,3.36
15,15,Kloulklubed,PW,2020-10-31 00:32:48,7.04,134.26,82.40,83,75,20.80
19,19,Avarua,CK,2020-10-31 00:32:49,-21.21,-159.78,77.00,73,99,8.05
20,20,Port Moresby,PG,2020-10-31 00:32:49,-9.44,147.18,84.20,70,20,3.36
22,22,Sibolga,ID,2020-10-31 00:29:20,1.74,98.78,77.81,75,95,2.53
27,27,Atuona,PF,2020-10-31 00:32:49,-9.80,-139.03,78.04,73,41,11.12

In [30]:
preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
0     Sao Filipe      CV     81.32  14.90  -24.50
5           Atar      MR     82.89  20.52  -13.05
6       Kanigoro      ID     81.28  -8.13  112.22
7     Oranjestad      AW     82.40  12.52  -70.03
11      Alenquer      BR     78.80  -1.94  -54.74
15   Kloulklubed      PW     82.40   7.04  134.26
19        Avarua      CK     77.00 -21.21 -159.78
20  Port Moresby      PG     84.20  -9.44  147.18
22       Sibolga      ID     77.81   1.74   98.78
27        Atuona      PF     78.04  -9.80 -139.03

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sao Filipe,CV,81.32,14.90,-24.50,Tortuga B&B
5,Atar,MR,82.89,20.52,-13.05,Oumou Elghoura
6,Kanigoro,ID,81.28,-8.13,112.22,Musafer Villa ( Villa Erlin )
7,Oranjestad,AW,82.40,12.52,-70.03,Divi Village Golf & Beach Resort
11,Alenquer,BR,78.80,-1.94,-54.74,Josilene Castro
15,Kloulklubed,PW,82.40,7.04,134.26,Storyboard Beach Resort
19,Avarua,CK,77.00,-21.21,-159.78,Paradise Inn
20,Port Moresby,PG,84.20,-9.44,147.18,Lamana Hotel
22,Sibolga,ID,77.81,1.74,98.78,Hotel Syariah CN Darussalam
27,Atuona,PF,78.04,-9.80,-139.03,Villa Enata

In [47]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))