## Deliverable 3. Create a Travel Itinerary Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config_copy import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [30]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Poum,NC,77.90,scattered clouds,-20.23,164.02,Gîte kajeon
1,3,Butaritari,KI,81.25,overcast clouds,3.07,172.79,Isles Sunset Lodge
2,5,Los Llanos De Aridane,ES,77.00,clear sky,28.66,-17.92,Valle Aridane
3,6,Rikitea,PF,75.24,clear sky,-23.12,-134.97,Pension Maro'i
4,7,Kapaa,US,82.00,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach

In [16]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and</dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [17]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [178]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City=='Coahuayana', :]
vacation_end = vacation_df.loc[vacation_df.City=='Coahuayana', :]
vacation_stop1 = vacation_df.loc[vacation_df.City=='Lazaro Cardenas', :]
vacation_stop2 = vacation_df.loc[vacation_df.City=='Acapulco', :]
vacation_stop3 = vacation_df.loc[vacation_df.City=='Tecoanapa', :]

In [179]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
121,410,Coahuayana,MX,84.2,scattered clouds,18.73,-103.68,Hotel Los Arcos

In [180]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
121,410,Coahuayana,MX,84.2,scattered clouds,18.73,-103.68,Hotel Los Arcos

In [181]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
165,545,Lazaro Cardenas,MX,85.77,broken clouds,17.96,-102.2,Collection O Hotel Quinta Antigua

In [182]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
62,208,Acapulco,MX,87.8,scattered clouds,16.86,-99.89,HS Hotsson Smart Acapulco

In [230]:
vacation_stop3 = vacation_stop3.drop(vacation_stop3.index[1])

In [231]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [232]:
start

(18.73, -103.68)

In [233]:
end

(18.73, -103.68)

In [234]:
stop1

(17.96, -102.2)

In [235]:
stop2

(16.86, -99.89)

In [236]:
stop3

(16.52, -98.75)

In [237]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets


fig = gmaps.figure()
direction_map = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
                                       travel_mode='DRIVING')
fig.add_layer(direction_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [238]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,410,Coahuayana,MX,84.2,scattered clouds,18.73,-103.68,Hotel Los Arcos
1,410,Coahuayana,MX,84.2,scattered clouds,18.73,-103.68,Hotel Los Arcos
2,545,Lazaro Cardenas,MX,85.77,broken clouds,17.96,-102.2,Collection O Hotel Quinta Antigua
3,208,Acapulco,MX,87.8,scattered clouds,16.86,-99.89,HS Hotsson Smart Acapulco
4,605,Tecoanapa,MX,85.1,clear sky,16.52,-98.75,Hotel Manglares

In [240]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and</dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [242]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer1 = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer1)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))