## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_copy import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [17]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.42,19.23,57.00,77,0,5.01,clear sky
1,1,Poum,NC,-20.23,164.02,77.90,78,41,22.79,scattered clouds
2,2,Kurilsk,RU,45.23,147.88,46.15,71,84,7.25,broken clouds
3,3,Butaritari,KI,3.07,172.79,81.25,75,100,15.48,overcast clouds
4,4,Hammerfest,NO,70.66,23.68,39.20,80,54,16.11,broken clouds

In [18]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Poum,NC,-20.23,164.02,77.90,78,41,22.79,scattered clouds
3,3,Butaritari,KI,3.07,172.79,81.25,75,100,15.48,overcast clouds
5,5,Los Llanos De Aridane,ES,28.66,-17.92,77.00,33,0,9.17,clear sky
6,6,Rikitea,PF,-23.12,-134.97,75.24,69,0,6.87,clear sky
7,7,Kapaa,US,22.08,-159.32,82.00,78,1,6.87,clear sky
8,8,Oranjestad,AW,12.52,-70.03,84.20,79,20,13.87,few clouds
10,10,Kloulklubed,PW,7.04,134.26,84.43,77,100,16.33,moderate rain
12,12,Hue,VN,16.47,107.60,78.80,88,75,8.05,broken clouds
13,13,Taoudenni,ML,22.68,-3.98,81.77,16,100,10.65,overcast clouds
14,14,Padang,ID,-0.95,100.35,77.50,79,100,4.68,moderate rain

In [20]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_new_df = preferred_cities_df.dropna()
preferred_cities_new_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Poum,NC,-20.23,164.02,77.90,78,41,22.79,scattered clouds
3,3,Butaritari,KI,3.07,172.79,81.25,75,100,15.48,overcast clouds
5,5,Los Llanos De Aridane,ES,28.66,-17.92,77.00,33,0,9.17,clear sky
6,6,Rikitea,PF,-23.12,-134.97,75.24,69,0,6.87,clear sky
7,7,Kapaa,US,22.08,-159.32,82.00,78,1,6.87,clear sky
8,8,Oranjestad,AW,12.52,-70.03,84.20,79,20,13.87,few clouds
10,10,Kloulklubed,PW,7.04,134.26,84.43,77,100,16.33,moderate rain
12,12,Hue,VN,16.47,107.60,78.80,88,75,8.05,broken clouds
13,13,Taoudenni,ML,22.68,-3.98,81.77,16,100,10.65,overcast clouds
14,14,Padang,ID,-0.95,100.35,77.50,79,100,4.68,moderate rain

In [22]:
preferred_cities_new_df.count()

City_ID                204
City                   204
Country                204
Lat                    204
Lng                    204
Max Temp               204
Humidity               204
Cloudiness             204
Wind Speed             204
Current Description    204
dtype: int64

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_new_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Poum,NC,77.90,scattered clouds,-20.23,164.02,
3,Butaritari,KI,81.25,overcast clouds,3.07,172.79,
5,Los Llanos De Aridane,ES,77.00,clear sky,28.66,-17.92,
6,Rikitea,PF,75.24,clear sky,-23.12,-134.97,
7,Kapaa,US,82.00,clear sky,22.08,-159.32,
8,Oranjestad,AW,84.20,few clouds,12.52,-70.03,
10,Kloulklubed,PW,84.43,moderate rain,7.04,134.26,
12,Hue,VN,78.80,broken clouds,16.47,107.60,
13,Taoudenni,ML,81.77,overcast clouds,22.68,-3.98,
14,Padang,ID,77.50,moderate rain,-0.95,100.35,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"

    # 6e. Make request and retrieve the JSON data from the search. 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# 7. Drop the rows where there is no Hotel Name.
hotel_clean_df = hotel_df.dropna()

In [26]:
hotel_clean_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [27]:
hotel_clean_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Poum,NC,77.90,scattered clouds,-20.23,164.02,Gîte kajeon
3,Butaritari,KI,81.25,overcast clouds,3.07,172.79,Isles Sunset Lodge
5,Los Llanos De Aridane,ES,77.00,clear sky,28.66,-17.92,Valle Aridane
6,Rikitea,PF,75.24,clear sky,-23.12,-134.97,Pension Maro'i
7,Kapaa,US,82.00,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
...,...,...,...,...,...,...,...
667,Howard Springs,AU,78.80,broken clouds,-12.50,131.05,buffalo beach hostel
669,Boma,GH,76.32,clear sky,7.08,-2.17,Obaatanpa Hotel
676,Kulhudhuffushi,MV,82.51,few clouds,6.62,73.07,Haajy Guest House 1
681,Doha,QA,80.60,clear sky,25.29,51.53,Doha Marriott Hotel
682,Poya,NC,76.59,clear sky,-21.35,165.15,

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_clean_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and</dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_clean_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_clean_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))